<div class="custom-side-bar flex-shrink-0 bg-white border-end">
  <div class="p-3">
      <span class="fs-5 fw-semibold">Filtres</span>
  </div>
  <ul class="list-unstyled ps-0 border-top">
      <div class="p-3">
          <p class="mb-1 fs-5 fw-semibold">Catégories</p>
          <div class="form-check" *ngFor="let c of categorie_list">
              <input type="checkbox" class="form-check-input" value="testcategory" id="testcategory">
              <label for="testcategory" class="form-check-label">
                  {{c}}
              </label>
          </div>
      </div>
  </ul>
</div>
